
    <div class="imgContain">
      <a href="../../../assets/images/promo-images/image07.jpeg" target="_blank"><img src="../../../assets/images/img01.jpg" /></a>
      <a href="../../../assets/images/images/promo-images/image04.jpeg" target="_blank"><img src="../../../assets/images/img02.jpg" /></a>
      <a href="../../../assets/images/images/promo-images/image02.jpeg" target="_blank"><img src="../../../assets/images/img03.jpg" /></a>
    </div>
    <div class="imgContain2">
      <a href="../../../assets/images/images/promo-images/image03.jpeg" target="_blank"><img src="../../../assets/images/img04.jpg" /></a>
    </div>
    <div class="imgContain">
      <a href="../../../assets/images/images/promo-images/image01.jpeg" target="_blank"><img src="../../../assets/images/img07.jpg" /></a>
      <a href="../../../assets/images/images/promo-images/image08.jpeg" target="_blank"><img src="../../../assets/images/img05.jpg" /></a>
      <a href="../../../assets/images/images/promo-images/image05.jpeg" target="_blank"><img src="../../../assets/images/img06.jpg" /></a>
    </div>
