.aaxparagraph {
  width: 858px;
  height: 81px;
  font-family: Muli;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: -0.1px;
  color: var(--greyish-brown);
}
/* Logos */

.logo-wrap {
  margin: 0.5em auto;
  width: 100%;
  display: block;
  overflow: hidden;
}

.whiteBg {
  width: 45%;
  float: left;
  display: block;
  overflow: hidden;
  clear: right;
  margin: 0 1em 2.5em 0;
  padding: 1em;
  border-radius: 4px;
  background-color: #F9F9F9;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.17);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.17);
}

.blackBg {
  width: 45%;
  float: left;
  display: block;
  overflow: hidden;
  clear: right;
  margin: 0 1em 2.5em 0;
  padding: 1em;
  border-radius: 4px;
  background-color: #585858;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.17);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.17);
}
