<mat-card class="idea-card-bg">
  <mat-card-header>
    <mat-card-title class="Idea-Discussion">Idea Discussion</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="Praesent-volutpat-ar">
      Praesent volutpat arcu non elit imperdiet, nec molestie eros rhoncus. Cras faucibus ut ex in varius.
    </p>
    <p class="Draft-Agenda">

    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="blur-btn-bg">Capture Minutes</button>
  </mat-card-actions>
</mat-card>
