$palettePrimary: (
    50 : #e8e9eb,
    100 : #c6c8ce,
    200 : #a1a4ad,
    300 : #7b808c,
    400 : #5e6474,
    500 : #42495b,
    600 : #3c4253,
    700 : #333949,
    800 : #2b3140,
    900 : #1d212f,
    A100 : #7691ff,
    A200 : #4369ff,
    A400 : #1040ff,
    A700 : #0031f6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$paletteAccent: (
    50 : #feece8,
    100 : #fdcfc6,
    200 : #fcafa0,
    300 : #fb8f79,
    400 : #fa775d,
    500 : #f95f40,
    600 : #f8573a,
    700 : #f74d32,
    800 : #f6432a,
    900 : #f5321c,
    A100 : #ffffff,
    A200 : #fff6f6,
    A400 : #ffc8c3,
    A700 : #ffb0a9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

