<!--<mat-grid-list cols="5" style="padding:5px">-->
  <!--<mat-grid-tile class="RectanglePrimary" colspan="1" rowspan="1">-->

  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile class="RectanglePrimaryLight" colspan="1" rowspan="1">-->

  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile class="RectangleDark"  colspan="1" rowspan="1">-->

  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile class="RectangleSecondary"  colspan="1" rowspan="1">-->

  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile class="RectangleSecondaryLight" colspan="1" rowspan="1">-->

  <!--</mat-grid-tile>-->

  <!--<mat-grid-tile class="ColourInfo" colspan="1" rowspan="1">-->
    <!--<p>-->
      <!--<span>HEX: #2e394c</span>-->
      <!--<span>RGB: 46, 57, 76</span>-->
      <!--<span>Primary</span>-->
    <!--</p>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile class="ColourInfo" colspan="1" rowspan="1">-->
    <!--<span>HEX: #2e394c</span>-->
    <!--<span>RGB: 46, 57, 76</span>-->
    <!--<span>Primary</span>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile class="ColourInfo" colspan="1" rowspan="1">-->
    <!--<span>HEX: #2e394c</span>-->
    <!--<span>RGB: 46, 57, 76</span>-->
    <!--<span>Primary</span>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile class="ColourInfo" colspan="1" rowspan="1">-->
    <!--<span>HEX: #2e394c</span>-->
    <!--<span>RGB: 46, 57, 76</span>-->
    <!--<span>Primary</span>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile class="ColourInfo" colspan="1" rowspan="1">-->
    <!--<span>HEX: #2e394c</span>-->
    <!--<span>RGB: 46, 57, 76</span>-->
    <!--<span>Primary</span>-->
  <!--</mat-grid-tile>-->

  <!--<mat-grid-tile class="RectangleSecondaryDark" colspan="1" rowspan="1">-->

  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile class="RectangleWhite" colspan="1" rowspan="1">-->

  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile class="RectangleGrey"  colspan="1" rowspan="1">-->

  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile class="RectangleOffWhite"  colspan="1" rowspan="1">-->

  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile class="RectangleSecondaryLight" colspan="1" rowspan="1">-->

  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile class="ColourInfo" colspan="1" rowspan="1">-->
    <!--<span>HEX: #2e394c</span>-->
    <!--<span>RGB: 46, 57, 76</span>-->
    <!--<span>Primary</span>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile  class="ColourInfo" colspan="1" rowspan="1">-->
    <!--<span>HEX: #2e394c</span>-->
    <!--<span>RGB: 46, 57, 76</span>-->
    <!--<span>Primary</span>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile class="ColourInfo" colspan="1" rowspan="1">-->
    <!--<span>HEX: #2e394c</span>-->
    <!--<span>RGB: 46, 57, 76</span>-->
    <!--<span>Primary</span>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile  class="ColourInfo" colspan="1" rowspan="1">-->
    <!--<span>HEX: #2e394c</span>-->
    <!--<span>RGB: 46, 57, 76</span>-->
    <!--<span>Primary</span>-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile class="ColourInfo" rowspan="1">-->
    <!--<span>HEX: #2e394c</span>-->
    <!--<span>RGB: 46, 57, 76</span>-->
    <!--<span>Primary</span>-->
  <!--</mat-grid-tile>-->
<!--</mat-grid-list>-->
<div class="container-color">
  <div class="coloured">
    <div class="primary"></div>
    <p class="colorInfo">
      <span class="colorTitle">HEX:</span> <span class="colorHex">#ed5f43</span>
      <br  /><span class="colorTitle">RGB:</span> <span class="colorHex">237, 95, 67</span>
    </p>
    <p>
      Primary colour
      <br />Buttons
    </p>
  </div>
  <div class="coloured">
    <div class="secondary"></div>
    <p class="colorInfo">
      <span class="colorTitle">HEX:</span> <span class="colorHex">#a2b2bd</span>
      <br  /><span class="colorTitle">RGB:</span> <span class="colorHex">162, 178, 189</span>
    </p>
    <p>
      Secondary
      <br />Buttons
    </p>
  </div>
  <div class="coloured">
    <div class="secondaryHover"></div>
    <p class="colorInfo">
      <span class="colorTitle">HEX:</span> <span class="colorHex">#5b6b79</span>
      <br  /><span class="colorTitle">RGB:</span> <span class="colorHex">91, 107, 121</span>
    </p>
    <p>
      Secondary
      <br />Buttons Hover
    </p>
  </div>
  <div class="coloured">
    <div class="headings"></div>
    <p class="colorInfo">
      <span class="colorTitle">HEX:</span> <span class="colorHex">#2b363f</span>
      <br  /><span class="colorTitle">RGB:</span> <span class="colorHex">43, 54, 63</span>
    </p>
    <p>
      Headings
      <br />Dark BG
    </p>
  </div>
  <div class="coloured">
    <div class="bodyText"></div>
    <p class="colorInfo">
      <span class="colorTitle">HEX:</span> <span class="colorHex">#303233</span>
      <br  /><span class="colorTitle">RGB:</span> <span class="colorHex">48, 50, 51</span>
    </p>
    <p>
      Body text
    </p>
  </div>
</div>
<div class="coloured">
  <div class="inputBorder"></div>
  <p class="colorInfo">
    <span class="colorTitle">HEX:</span> <span class="colorHex">#c3ced6</span>
    <br  /><span class="colorTitle">RGB:</span> <span class="colorHex">195, 206, 214</span>
  </p>
  <p>
    Input-border
    <br />on normal state
  </p>
</div>
<div class="coloured">
  <div class="inputFocus"></div>
  <p class="colorInfo">
    <span class="colorTitle">HEX:</span> <span class="colorHex">#90a3b0</span>
    <br  /><span class="colorTitle">RGB:</span> <span class="colorHex">144, 163, 176</span>
  </p>
  <p>
    Input-border
    <br />on focused state
  </p>
</div>

