<mat-grid-list cols="2">
  <mat-grid-tile class="paper-shadow-z1" colspan="1" rowspan="1">

  </mat-grid-tile>
  <mat-grid-tile class="ShadowInfo" colspan="1" rowspan="1">
    paper-shadow-z1
  </mat-grid-tile>
  <mat-grid-tile class="paper-shadow-z2"  colspan="1" rowspan="1">

  </mat-grid-tile>
  <mat-grid-tile class="ShadowInfo" colspan="1" rowspan="1">
    paper-shadow-z2
  </mat-grid-tile>
  <mat-grid-tile class="paper-shadow-z3" colspan="1" rowspan="1">

  </mat-grid-tile>
  <mat-grid-tile  class="ShadowInfo" colspan="1" rowspan="1">
    paper-shadow-z2
  </mat-grid-tile>
  <mat-grid-tile class="paper-shadow-z4" colspan="1" rowspan="1">

  </mat-grid-tile>
  <mat-grid-tile  class="ShadowInfo" colspan="1" rowspan="1">
    paper-shadow-z4
  </mat-grid-tile>
  <mat-grid-tile class="paper-shadow-z5" colspan="1" rowspan="1">

  </mat-grid-tile>
  <mat-grid-tile  class="ShadowInfo" colspan="1" rowspan="1">
    paper-shadow-z5
  </mat-grid-tile>
</mat-grid-list>
