<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
      <h1 id="title">Titles</h1>
      <mat-list>
        <mat-list-item><h1 id="title">Main title H1</h1></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><h2 id="title">Main title H2</h2></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><h3 id="title">Main title H3</h3></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><h4 id="title">Main title H4</h4></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><h5 id="title">Main title H5</h5></mat-list-item>
      </mat-list>
    </div>
</div>
