
<mat-sidenav-container class="sidenav-container" fullscreen>
  <mat-sidenav [opened]="leftSidebarOpen$ | async" mode="side" position="start" #leftnav class="sidebar">
    <div fxLayout="row" fxLayoutAlign="start stretch" class="sidebar-container">
      <div class="sidebar-content">
      </div>
    </div>
  </mat-sidenav>


  <mat-sidenav [opened]="rightSidebarOpen$ | async" mode="over" position="end" #rightnav class="sidebar">
    <div fxLayout="row" fxLayoutAlign="start stretch" class="sidebar-container">
      <div class="sidebar-content">
        Right sidebar
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="page-wrap" fxLayout="column">

      <header role="banner">
           <app-header></app-header>
      </header>

      <app-headertitle></app-headertitle>
      <app-sidebar></app-sidebar>
      <mat-progress-bar *ngIf="loading" mode="indeterminate" color="accent"></mat-progress-bar>

      <div class="content" fxLayout="column">
          <div class="router-contents" fxLayout="column">
            <router-outlet></router-outlet>
          </div>
      </div>

      <footer fxFlex="20px">
        &copy; allaboutXpert v{{ version }}
      </footer>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>



