
<div id="main">
  <div class="inner">
    <header>
      <h1>We provide end-to-end project, programme and portfolio management solutions</h1>
      <p class="padded">Innovation is our expertise in everything project: people, process, practice and technology. We teach, recruit, consult, build, estimate, implement, integrate, assess, restore and facilitate.</p>
    </header>
    <section class="tiles">
      <article class="style1">
									<span class="image">
										<img src="../../assets/images/pic01.jpg" alt="" />
									</span>
        <a href="./typography?menuItemName=Typography&menuItemState=typography&menuItemGroup=Typography">
          <h2>Typography</h2>
          <div class="content">
            <p>Font details for hierachy, weight, line-height, letter-spacing</p>
          </div>
        </a>
      </article>
      <article class="style2">
									<span class="image">
										<img src="../../assets/images/pic02.jpg" alt="" />
									</span>
        <a href="./colours?menuItemName=Colours&menuItemState=colours&menuItemGroup=Colours">
          <h2>Colour palette</h2>
          <div class="content">
            <p>Primary, secondary and tertiary colours used</p>
          </div>
        </a>
      </article>
      <article class="style3">
									<span class="image">
										<img src="../../assets/images/pic03.jpg" alt="" />
									</span>
        <a href="./imagery?menuItemName=Imagery&menuItemState=imagery&menuItemGroup=Imagery">
          <h2>Imagery</h2>
          <div class="content">
            <p>Bright work environment evokes a positive atmosphere between coworkers</p>
          </div>
        </a>
      </article>
      <article class="style4">
									<span class="image">
										<img src="../../assets/images/pic04.jpg" alt="" />
									</span>
        <a href="./button?menuItemName=Buttons&menuItemState=button">
          <h2>Buttons</h2>
          <div class="content">
            <p>Various states, sizes, usage and imporatance for buttons</p>
          </div>
        </a>
      </article>
      <article class="style5">
									<span class="image">
										<img src="../../assets/images/pic05.jpg" alt="" />
									</span>
        <a href="./formcomponent?menuItemName=Components&menuItemState=formcomponent&menuItemGroup=Components">
          <h2>Form Elements</h2>
          <div class="content">
            <p>Types and states for active, valid, warning and error</p>
          </div>
        </a>
      </article>
      <article class="style6">
									<span class="image">
										<img src="../../assets/images/pic06.jpg" alt="" />
									</span>
        <a href="./logos?menuItemName=Logos&menuItemState=logos">
          <h2>Logos</h2>
          <div class="content">
            <p>Logo variations and uses</p>
          </div>
        </a>
      </article>

    </section>
  </div>
</div>
