<mat-card>
    <mat-card-content>
        <a class="stackblitzstyle" style="float: right;" href="https://stackblitz.com/github/aaxStyleGuide/styleguidescss?file=src/app/material-component/formbuttons/formbuttons.component.ts" target="_blank">
          <img src="../../../assets/images/stackblitz_icon.png"></a>
        <mat-card-title>Form Buttons</mat-card-title>
    
<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
   

<h3>Check Box</h3> 

<div class="select-container">
  <div class="checkbox-group">
    <div >
      <mat-checkbox>Auto Updates</mat-checkbox>
    </div>
  </div>
</div>
<h3>Radio Button</h3>
<div class="select-container">
  <div class="checkbox-group">
    <div>
      <mat-radio-group>
        <mat-radio-button value="1">Option 1</mat-radio-button>&nbsp;
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
<h3>Switch(Toggle)</h3>
<div class="select-container">
  <div class="checkbox-group">
    <div>
      <mat-slide-toggle>Slide me!</mat-slide-toggle>
    </div>
  </div>
</div>

  </div>
</div>

</mat-card-content> 
</mat-card>