<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <h1 id="title">Buttons</h1>
    <mat-card>
      <mat-card-content>
<h3>Check Box</h3>
<div class="select-container">
  <div class="checkbox-group">
    <div >
      <mat-checkbox>Auto Updates</mat-checkbox>
    </div>
  </div>
</div>
<h3>Radio Button</h3>
<div class="select-container">
  <div class="checkbox-group">
    <div>
      <mat-radio-group>
        <mat-radio-button value="1">Option 1</mat-radio-button>&nbsp;
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
<h3>Switch(Toggle)</h3>
<div class="select-container">
  <div class="checkbox-group">
    <div>
      <mat-slide-toggle>Slide me!</mat-slide-toggle>
    </div>
  </div>
</div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
