<mat-card>
    <mat-card-content>    
        <a class="stackblitzstyle" style="float: right;" href="https://stackblitz.com/github/aaxStyleGuide/styleguidescss?file=src/app/material-component/paragraph/paragraph.component.ts" target="_blank">
          <img src="../../../assets/images/stackblitz_icon.png"></a>
    <mat-card-title>Paragraphs</mat-card-title>
    <div class="select-container">
   
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
      <p class="aaxparagraph">
        Duis ultrices est ac nibh lacinia tristique. Sed laoreet egestas urna, at congue orci facilisis non. Curabitur ultrices finibus consectetur. Morbi lorem orci, interdum eget dignissim et, fringilla non erat. Proin enim tortor, malesuada ut justo id, scelerisque vulputate turpis. Curabitur porta rhoncus ullamcorper. Donec at erat vel eros aliquet auctor.
      </p>
    </div>
</div>
</div>
</mat-card-content>
</mat-card>
